@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root{
    /* Paleta 1: Verde Escuro e Verde Claro */
    --paleta1cor1: #388E3C; /* Verde Escuro */
    --paleta1cor2: #81C784; /* Verde Claro */

    /* Paleta 2: Azul Escuro e Azul Claro */
    --paleta2cor1: #229799; /* Azul Escuro */
    --paleta2cor2: #48CFCB; /* Azul Claro */

    /* Paleta 3: Roxo Escuro e Roxo Claro */
    --paleta3cor1: #7B1FA2; /* Roxo Escuro */
    --paleta3cor2: #CE93D8; /* Roxo Claro */

    /* Paleta 4: Vermelho Escuro e Vermelho Claro */
    --paleta4cor1: #D32F2F; /* Vermelho Escuro */
    --paleta4cor2: #E57373; /* Vermelho Claro */

    /* Paleta 5: Azul Escuro e Azul Claro */
    --paleta5cor1: #303F9F; /* Azul Escuro */
    --paleta5cor2: #7986CB; /* Azul Claro */

    /* Definição da cor branco esfumado */
    --brancoEsfumacado: #F5F5F5;

    /* Definição da cor chumbo escuro */
    --chumboEscuro: #424242;

    /* Fonte padrão para o corpo da página */
    --fontBody: Verdana, Geneva, Tahoma, sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fontbody);
}

header{
    background-color: var(--paleta2cor1);
    color: var(--paleta2cor2);
    height: 20vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

header h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}


header h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}






















main{
    height: 75vh;
    display: flex;
    margin: auto;
    color: var(--paleta2cor2);
    color: var(--paleta2cor1);
}

.imc{
    display: flex;
    flex-direction: row;
    margin: auto;
    height: 70%;
    width: 30%;
    border: 5px solid var(--paleta2cor2);
    box-shadow: 5px 5px 5px var(--chumboEscuro);
    background-color: #a5fffc;
}   


.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    width: 60%;
}

.form h3{
    text-align: center;
    font-family: 'lato', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.campo label{
    font-size: 0.8;
    margin-bottom: 0.5rem;
}

.campo input{
    background-color: transparent;
    border: 2px solid var(--paleta2cor2);
    border-radius: 5px;
    padding-inline: 5px;
    color: var(--paleta2cor2);
    outline: none;
    width: 100%;
    height: 30px;
    transition: all;
}

input::placeholder{
    color: var(--paleta2cor2);
}

.campo input:focus{
    background-color: transparent;
    border: 2px solid var(--brancoEsfumacado);
    padding-left: 1rem;
    color: white;
}

.form button {
    background-color: var(--paleta2cor2);
    color: var(--paleta2cor1);
    border: 2px solid var(--paleta2cor2);
    border-radius: 5px;
    width: 100%;
    height: 65px;
    font-size: 1.3rem;
    transition: all 1s ease;
    margin-top: 40px;
    cursor: pointer;
}


.form button:hover {
    background-color: transparent;
    color: var(--paleta2cor2);
}























footer{
    
    color: var(--paleta2cor2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
    height: 5vh;
    background-color: var(--paleta2cor1);

}

.git a{
    color: var(--paleta2cor2);
    text-decoration: none;
}